.App {
  text-align: center;
  position: relative;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}
.text{

  width: 30rem;
  float: left;
  padding-left: 2rem;
  padding-top: 8rem;

}
.typing{
  position: absolute;
  bottom:90px;
  right: 33%;
  text-align: center;
  font-size: 40px;
  font-weight: italic;
  color: #6d6d6d;
  display:inline-block;
  padding: 2rem;
  
}

.fishy{
  
  float: left;
  left: -700px;
  position: relative;
  top: -450px;
  padding: 2rem;
  width: 170px;
  height:90px;
  transform: scaleX(-1);
  text-align: center;
}
.circularlogo{
    width: 15rem;
    float: left;
    padding-left: 2rem;
}
.wave{
  width:100%;
  height: 28rem;
  
}

.launch{
  padding: 1rem;
  margin:2rem;
  width:15%;
  margin-top:9rem;
  border-radius: 12px;
  animation: myfirst 5s;
  float: right;
  font-weight: bold;
  background: linear-gradient(rgb(152, 186, 216),rgb(133, 206, 245),rgb(102, 107, 242));
  -webkit-animation: myfirst 1s ease-out infinite;
  
  
}

@-webkit-keyframes myfirst{
  0% {background: linear-gradient(rgb(152, 186, 216),rgb(133, 206, 245),rgb(102, 107, 242));}
  30% {background: linear-gradient(rgb(152, 186, 216),rgb(133, 206, 245),rgb(102, 107, 242)); opacity:0.95; padding: 1.2rem}
  50% {background: linear-gradient(rgb(204, 168, 230),rgb(217, 53, 242),rgb(111, 63, 121));}
  70% {background: linear-gradient(rgb(204, 168, 230),rgb(217, 53, 242),rgb(111, 63, 121)); opacity:0.95; padding: 1.2rem}
  90% {background: linear-gradient(rgb(228, 235, 156),rgb(238, 218, 138),rgb(242, 168, 57));}
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
